APP_KEY=cffsffQPtVyU12WPq5kUgdxr1eA==
APP_ENV=local

SITE_HOST=localhost
SITE_PORT=8080

DB_CONNECTION=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=news-pooler
DB_USERNAME=root
DB_PASSWORD=123

#in seconds
SHEDULE_TIME=3600