<!-- /views/admin/master.html -->
<!doctype html>

<html>

<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="{{ siteUrl }}/assets/css/style.css"> {{template "head" .}}
</head>

<body>
    <input name="baseUrl" type="hidden" value="{{ siteUrl }}">
    <div id="app">
        <div class="container">
            <span> </span> {{include "layouts/navbar"}}

            {{template "content" .}}
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js">
    </script>

    {{template "scripts" .}}

</body>

</html>