{{define "head"}}
<style>

</style>
{{end}} {{define "content"}}



<section class="section">
    <div class="container">


        <div class="columns is-mobile is-centered">
            <div class="column is-4">
                <div class="box is-clearfix">
                    <h1 class="title">
                        Add url
                    </h1>

                    <!-- Title -->
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="title" v-model="body.title">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                    </div>
                    <!-- Url  -->
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="url" v-model="body.url">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                    </div>
                    <!-- section -->
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="news section calss or id" v-model="body.section">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                    </div>
                    <!-- url selector -->
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="url selector" v-model="body.url_selector">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                    </div>
                    <!-- Description selector -->
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Description selector" v-model="body.description_selector">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="button is-success is-pulled-right" v-on:click="addUrl" v-if="!is_edit">
                            Add
                          </button>
                            <button class="button is-pulled-left" v-on:click="cancelUrlModal" v-if="is_edit">
                            Cancel
                          </button>
                            <button class="button is-success is-pulled-right" v-on:click="updateUrl" v-if="is_edit">
                            Update
                          </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-8 is-flex is-flex-wrap-wrap">

                <div v-for="url in urls" class="card" style="width: 240px; margin: 10px;">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img v-bind:src="url.thumbnail ? url.thumbnail : 'https://bulma.io/images/placeholders/1280x960.png' " alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">

                        <div class="content">
                            $(( url.title ))
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" v-bind:href="baseUrl + '/links/' + url.link_id">View</a>
                        <a class="card-footer-item" v-on:click="editUrl(url)">Edit</a>
                        <a v-on:click="deleteUrl(url.link_id)" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
        </div>
</section>


{{end}}

{{define "scripts"}}
    <script src="{{ siteUrl }}/assets/js/main.js">
    </script>
{{end}}