{{define "head"}}
<style>

</style>
{{end}} {{define "content"}}

<input name="link_id" type="hidden" value="{{ .link_id }}">
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-4">
                <div class="box content is-clearfix">
                    <span v-for="date in dates">
                        <button v-on:click="getFeeds(date.date)" class="button is-large is-fullwidth">$(( date.date ))</button>
                    </span>

                </div>
            </div>
            <div class="column is-8 is-flex is-flex-wrap-wrap">

                <div v-for="feed in feeds" class="card" style="width: 240px; margin: 10px;">

                    <div class="card-content">
                        <div class="content">
                            $(( feed.title ))
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" target="_blank" v-bind:href="feed.url">View</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}

{{define "scripts"}}
<script src="{{ siteUrl }}/assets/js/single.js">
</script>
{{end}}